// VARIABLES
$page-bgcolor: #f4f7f6;
$base-font: Helvetica, Arial, sans-serif;
$base-font-size: .85rem;
$border: 1px solid #E6EAEA;
$submit-color: #49c5b6;
$top-bar-height: 70px;
$content-margin: 0 1rem 1.9rem 1rem;
$hover-text: #A6ABAB;
$hover-background: #fff;
$single-col: 611px;
$double-col: 1146px;
$triple-col: 1461px;
$quad-col-responsive: 1940px;

// STYLES

body {
  background: $page-bgcolor;
  margin: 0;
  padding: 0;
  font: {
    family: $base-font;
    size: $base-font-size;
  }

}
.banner, .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border;
  height: $top-bar-height;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $page-bgcolor;
}


.menu, {
  display: flex;
  align-items: center;
  border-right: $border;
  width: 95px;
  height: 70px;
  padding-left: 20px;
}

.search {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas {
  font-size: 1.2rem;
  margin-right: 10px;
}

.right-nav-box, .left-nav-box {
  display: flex;
  flex-direction: row;
}

.login {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  a {
    text-decoration: none;
    color: black;
  }

}

.submit {
  width: 190px;
  height: 70px;
  background-color: $submit-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  top: 70px;
  z-index: 99;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.filterby  {
  border-right: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-transform: uppercase;

}

.filterby:hover {
  background-color: $hover-background;
  color: $hover-text;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  top: 190px;
  margin: 0 auto 0 auto;
  padding: 0 2rem 0 2rem;
  max-width: 1880px;
  // border: 1px solid purple;
}

.box-item {
  width:417px;
  height: 443px;
  background-color: lightblue;
  border: 1px solid #f00;
  margin: $content-margin;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}


@media screen and (max-width: $quad-col-responsive)
 { // quad col responsive
  .box-item {
    width: 20%;
  }
}

@media screen and (max-width: $triple-col) { // triple col
  .box-item {
    width: 30%;  }
  .content {
  padding: 0 2rem 0 4rem;
    }
}

@media screen and (max-width: $double-col) { // double col
  .box-item {
    width: 43%;
  }
  .login {
    display: none;
  }
  .search {
    position: absolute;
    right: 190px;
    top: 27px;
  }

}
@media screen and (max-width: $single-col) {  // single col
  .box-item {
    width: 100%;
    margin: 0 0 1.9rem 0;

  }
}
